.booking{
    margin-top: 80px;
    background-color: #f0f7fd;
    display: flex;
}
.booking-img{
    width: 50%;
}
.booking-img img{
    width: 700px;
    height: 100%;
}
.form{
    width: 50%;
}
.form-container{
    background-color: white;
    width: 450px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
}
.form-container h2{
    font-weight: normal;
    color: rgba(0, 0, 0, 0.623);
}
.form-container input ,select{
    width: 100%;
    margin: 10px;
    padding: 8px 20px;
    border-radius: 20px !important;
    border: 1px solid gray !important;
    outline-color: #0099ff;
}
.form-container .date{
    padding: 10px;
}
.form-container button{
    margin: 10px;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #006666 0%, #0099ff 100%);
    color: white;
    border: none;
    border-radius: 20px;
    width: 100%;
}
.form-container button:hover{
    background: linear-gradient(to bottom, #006666b6 0%, #0099ffa4 100%);
}
.position{
    position: sticky;
    top: 50%;
    transform: translate(-200%, -40%);
    width: 300px;
    transition: all 0.5s;   
    background-color: #006666;
    color: white;
    padding: 20px;
}
